[submodule "GridData"]
	path = GridData
        url = https://git.rwth-aachen.de/PowerSystemSimulation/GridData.git
[submodule "CIM-XML-Parser"]
	path = CIM-XML-Parser
	url = https://git.rwth-aachen.de/CIM-XML-Interface/CIM-XML-Parser.git
